.fishText{
    margin-top: 30px;
}

body {
    font-family: Circe;
}

.list-group-item {
    border: none !important;
    padding-left: 0 !important;


}

h5{
    color: #9fb0fe;
}

img {
    border-radius: 1rem !important;
}

.table-bordered, .table thead th, .table-bordered td {
    border: 2px solid #f5f6ff !important;
}
